* {
  transition-property: all;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function)
  );
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  --tw-duration: 200ms;
  transition-duration: 200ms;
}

@theme {
  --breakpoint-xxs: 21.25rem;
  --breakpoint-xs: 23.125rem;
  --breakpoint-xxl: 82.5rem;
  --color-picto-primary: #9929fb;
  --color-picto-primary-dark: #650fa0;
  --color-soft-white: #f0f1f3;
  --color-soft-dark: #87909d;
  --spacing-12_5: 3.125rem;
  --spacing-15: 3.75rem;
  --spacing-17_5: 4.375rem;
  --spacing-20: 5rem;
  --spacing-25: 6.25rem;
  --spacing-30: 7.5rem;
  --spacing-31_5: 7.875rem;
  --size-66: 16.5rem;
  --size-106: 26.5rem;
  --size-117: 29.25rem;
  --size-126: 31.5rem;
  --size-134: 33.5rem;
  --size-135: 33.75rem;
  --size-144_25: 36.0625rem;
}

.btn-primary {
  @apply bg-picto-primary border-0 text-white hover:scale-[102%] hover:bg-picto-primary-dark transition-all duration-500;
}
body {
  font-family: "Work Sans", sans-serif;
}

.content {
  @apply w-full max-w-[1320px] mx-auto;
}

.section-title {
  @apply md:font-semibold text-3xl sm:text-4xl md:text-5xl font-medium;
}

.center {
  @apply flex justify-center items-center;
}

.introduction-profile-background {
  background: radial-gradient(
      circle at 12% 100%,
      #ffe2b0f5 1% 5px,
      transparent 15%
    ),
      radial-gradient(circle at 95% -15%, #da4df166 5%, transparent 30%),
      radial-gradient(circle at center right, #c4f5e9b2 2%, transparent 35%);
}
.blog-background {
  background: radial-gradient(circle at -10% 0%, #da4df166 1%, transparent 25%),
    radial-gradient(circle at 110% 30%, #c4f5e9b2 5%, transparent 25%);
}
@reference "tailwindcss";
